// scss/_user_colors.scss

$primary_paletteKeyColor: #ab616c;
$secondary_paletteKeyColor: #906e72;
$tertiary_paletteKeyColor: #947147;
$neutral_paletteKeyColor: #817475;
$neutral_variant_paletteKeyColor: #847374;
$background: #1a1112;
$onBackground: #f0dedf;
$surface: #1a1112;
$surfaceDim: #1a1112;
$surfaceBright: #413737;
$surfaceContainerLowest: #140c0d;
$surfaceContainerLow: #22191a;
$surfaceContainer: #261d1e;
$surfaceContainerHigh: #312828;
$surfaceContainerHighest: #3d3233;
$onSurface: #f0dedf;
$surfaceVariant: #524344;
$onSurfaceVariant: #d7c1c3;
$inverseSurface: #f0dedf;
$inverseOnSurface: #382e2f;
$outline: #9f8c8e;
$outlineVariant: #524344;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #ffb2bc;
$primary: #ffb2bc;
$onPrimary: #561d28;
$primaryContainer: #72333e;
$onPrimaryContainer: #ffd9dd;
$inversePrimary: #8e4954;
$secondary: #e5bdc0;
$onSecondary: #43292d;
$secondaryContainer: #5c3f43;
$onSecondaryContainer: #ffd9dd;
$tertiary: #eabf8f;
$onTertiary: #452b07;
$tertiaryContainer: #af8a5e;
$onTertiaryContainer: #000000;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$primaryFixed: #ffd9dd;
$primaryFixedDim: #ffb2bc;
$onPrimaryFixed: #3b0714;
$onPrimaryFixedVariant: #72333e;
$secondaryFixed: #ffd9dd;
$secondaryFixedDim: #e5bdc0;
$onSecondaryFixed: #2c1518;
$onSecondaryFixedVariant: #5c3f43;
$tertiaryFixed: #ffddb8;
$tertiaryFixedDim: #eabf8f;
$onTertiaryFixed: #2a1700;
$onTertiaryFixedVariant: #5e411c;
$darkmode: true;
